body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
}

#header_div {
    text-align: center;
    margin: 10px 10px 5px 10px;
    border-bottom: 1px solid black;
    background-color: #0044cc;
    color: white;
    padding: 10px ;
}

#nav_bar_div, #image_div, #description_div {
    float: none;
    width: 90%;
    margin: 10px auto;
    background-color: #ffffff;
    padding: 10px;
}

#image_div img {
    width: 100%;
    display: block;
    margin: 0 auto;
}

#description {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

label {
    font-weight: bold;
    color: #0044cc;
}

h4 {
    color: #0044cc;
}

input[type="radio"] {
    margin-right: 5px;
}

textarea {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    color: #333;
}